*{
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald', sans-serif;
}

.background{
  background-color: #fff;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, #ff6596,#60bef8,#d88cff);
  background-size: 600% 100%;
  animation: byAnimatedGradient 15s infinite linear;
}
/* .background h1{
  text-align: center;
  padding: 25px 0px;
} */
h1{
  text-align: center;
  padding-top: 5%;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 6px;
  font-size: 4vw;
  color:white;
}

@keyframes byAnimatedGradient{
  0%{
    background-position: 0 85%;
  }
  50%{
    background-position: 100% 20%;
  }
  100%{
      background-position: 0% 85%;
  }
}
.container{
  width: 1170px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  
}
.card{
  flex-basis: 60%;
  margin: 10px 0px;
  box-shadow: 0px 0px 10 px lightgrey;
  padding: 50px;
}

.card a:hover {
  background-color: #005b9f;
}

.card a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007acc;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
@media only screen and (min-width: 200px) and (max-width: 767px){
  .container{
    width: 100%;
    flex-direction: column;
  }
  .card{
    margin: 10px;
  }
}