    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
    }

    h2 {
      font-family: 'Montserrat';
      font-size: 50px;
      text-align: center;
      background-color: lightblue;
      
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    #monthInput {
      padding: 10px 10px;
      text-align: center;
      font-size: 30px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-right: 10px;
    }

    .containerBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 30px;
    }

    button {
      text-align: center;
      font-size: 20px;
      margin: 20px;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #4CAF50;
      color: #fff;
      cursor: pointer;
      margin-right: 10px;
    }

    button:hover {
      background-color: #45a049;
    }

    ul {
      margin-top: 20px;
      text-align: center;
      border: 1px solid #f20000;
      list-style-type: none;
      padding: 0;
    }

    li {
      font-size: 30px;
      margin-bottom: 5px;
    }

    body{
      background-color:blue;
    }